.main {
  .month-nav {
    margin-bottom: 30px;
    font-size: 16px;
    color: #555;
    text-align: center;

    .prev-month,
    .current-month,
    .next-month {
      display: inline-block;
    }

    .current-month {
      font-weight: bold;

      &:before,
      &:after {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        font-weight: normal;
      }
    }
  }

  .total {
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
  }

  > .expense-group {
    margin-bottom: 40px;

    > .date {
      margin-bottom: 10px;
      text-align: center;
      // font-weight: bold;
      font-size: 1.5em;
      color: #888;
    }

    > table.expenses {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      // font-size: 1.1em;

      > tbody {
        > tr {
          &:hover {
            background: #eee;
          }

          &.open {
            td {
              // background: tomato !important;
            }
          }
          @media (max-width: 600px) {
            &.open {
              > td {
                &.category {
                  display: none;
                }
                &.buttons {
                  display: table-cell;
                }
              }
            }

            > td.buttons {
              display: none;
            }
          }

          > td,
          > th {
            padding: 8px 8px;
          }

          &:last-child {
            > td {
              border-bottom: 1px solid #ddd;
            }
          }

          > td {
            border-top: 1px solid #ddd;

            &.category {
              width: 5em;
              // font-weight: bold;
            }

            &.subject {
              // width: 70%;
            }

            &.amount {
              text-align: right;
              // font-weight: bold;
              width: 4em;
              font-size: 1.3em;
            }

            &.buttons {
              padding-left: 4px;
              padding-right: 4px;
              width: 6em;
              > a {
                &:link,
                &:visited,
                &:hover {
                  color: #777;
                  text-decoration: none;
                }

                &:hover {
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
}
