.main {
  .month-nav {
    margin-bottom: 30px;
    font-size: 16px;
    color: #555;
    text-align: center;

    .prev-month,
    .current-month,
    .next-month {
      display: inline-block;
    }

    .current-month {
      font-weight: bold;

      &:before,
      &:after {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        font-weight: normal;
      }
    }
  }

  .total {
    margin: 20px 0 20px 0;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }

  > .expense-group {
    margin-bottom: 40px;

    > .date {
      margin-bottom: 10px;
      text-align: center;
      // font-weight: bold;
      font-size: 1.5em;
      color: #888;
    }

    > table.expenses {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      // font-size: 1.1em;

      > tbody {
        > tr {
          &:hover {
            background: #eee;
          }

          > td,
          > th {
            padding: 8px 8px;
          }

          &:last-child {
            > td {
              border-bottom: 1px solid #ddd;
            }
          }

          &.group-total {
            > td {
              border-bottom: 0;
            }
          }

          > td {
            border-top: 1px solid #ddd;

            &.description {
              > .category {
                color: #777;
                margin-bottom: 0.2em;
              }
            }

            &.amount {
              text-align: right;
              width: 4.5em;
              font-size: 1.3em;
            }

            &.buttons {
              padding-left: 4px;
              padding-right: 4px;
              width: 6em;
              > a {
                &:link,
                &:visited,
                &:hover {
                  color: #777;
                  text-decoration: none;
                }

                &:hover {
                  color: #666;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
