$selectors: ();

@for $i from 1 through $grid-nums {
  $length: 100% * ($i / $grid-nums);

  $selectors: join($selectors, unquote('.col-#{$i}'), comma);

  .col-#{$i} {
    width: $length;
  }

  .col-offset-#{$i} {
    margin-left: $length;
  }
}

#{$selectors} {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
